.button-blue {
  background-color: #4A90E2 !important;

  &:active {
    background-color: darken(#4A90E2, 15%) !important;
  }
}
.pincode {
  font-size: 20pt!important;
}
.open-bitlox {
  span {
    line-height: 3.1em
  }
}
.notes-icon img {
  box-shadow: none !important;
}
.notes-ionicon {
  font-size: 50px!important;
  border-radius: 50%;
  width: 40px;
  padding: 0;
  padding-left: 7px;
}
.icon-verified {
  color: #ff0000 !important;
}
.verification-loader{
  background: #ff0000 !important;
  border-radius:100px;
  height:20px;
  p{
    text-align:center;
    color:white !important;
    text-align:center;
  }
}
.bip39-count {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 200%;
}
.flex-bip39-indexes {
  display: flex;
  flex-direction: row;
  span {
    flex-grow: 0;
    flex-basis: 1em;
  }
  span.flex-bip39-indexes-sep {
    flex-shrink: 1;
    flex-grow: 0;
  }
}
.confirmed-check {
  width: 20px;
  margin: -4px 0px;
}
.popup {
  border-radius: 2px !important;
}

.popup-title {
  font-weight: bold !important;
  font-size: 15px !important;
  color: rgb(101, 101, 101);
}

.popup-sub-title {
  font-size: 12px !important;
  color: #6b6b6b !important;
}

.popup-body {
  text-align: center;
}

.amount-label .big-icon-svg img {
  width: 27px !important;
  height: 27px;
  background: #444455;
  box-shadow: none !important;
}

#txp-details .info .payment-proposal-to, #view-confirm .info .payment-proposal-to {
  background-color: rgba(203, 203, 203, 0.39) !important;
}
.address-label {
  margin: 0 auto !important;
  margin-top: 5% !important;
  background-color: rgba(203, 203, 203, 0.39) !important;
  border-radius: 2px !important;
  max-width: 300px !important;
  color: gray !important;
  padding-top: 5px;
  padding-bottom: 5px;
}
.has-header {
  background-color: #f2f2f2 !important;
}
.has-header[id*='onboard'],[id*='backup-warning'] .has-header{
  background-color: $v-onboarding-pane-bg !important;
}
#tab-scan, #tab-attach-bitlox {
  .has-header {
    background-color: transparent !important;
  }
}
#onboarding-disclaimer {
  .has-header {
    background-color: transparent !important;
  }
}
input::-webkit-input-placeholder {
color: #DDD;
}
input:focus::-webkit-input-placeholder {
color: #DDD;
}
.confirmMnemonicPopup {
  & > .popup {
    width: 320px;
    background-color: #fafafa;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }


  ul > li {
    font-size: 16px;
    padding: 4px;
    margin: 4px 18px 0 0;
  }

  .invalid {
    color: #ff0000;
  }
}

.kyc-example {
  margin:0px auto;
  width: 80%;
  max-width: 280px;
}