<ion-view class="settings pane" id="view-aurs-dividend" ng-controller="linkAursController">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>Register AURS Wallet</ion-nav-title>
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
      <div class="list settings-list settings-input-group" ng-hide="showCameraOnly">

        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Full Name</span>
          <input type="text"
          placeholder="{{'John Doe'|translate}}"
          ng-model="formA.name"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>  

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Main Phone</span>
          <input type="tel"
          placeholder="{{'+60161234567'|translate}}"
          ng-model="formA.phone"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Mobile Phone</span>
          <input type="tel"
          placeholder="{{'+60161234567'|translate}}"
          ng-model="formA.phone2"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Email Address</span>
          <input type="email"
          placeholder="{{'user@yahoo.com'|translate}}"
          ng-model="formA.email"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label> 

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>ID/Passport #</span>
          <input type="number"
          placeholder="{{'5520231923'|translate}}"
          ng-model="formA.idNumber"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Date of Birth</span>
          <input type="text"
          placeholder="{{'22/12/1984'|translate}}"
          ng-model="formA.dob"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Address</span>
          <input type="text"
          placeholder="{{'123 Jalan St.'|translate}}"
          ng-model="formA.address1"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Apt/Suite #</span>
          <input type="text"
          placeholder="{{'Suite 200'|translate}}"
          ng-model="formA.address2"
          autocorrect="off" autocomplete="off">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>City</span>
          <input type="text"
          placeholder="{{'Los Angeles'|translate}}"
          ng-model="formA.city"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>State/Province</span>
          <input type="text"
          placeholder="{{'California'|translate}}"
          ng-model="formA.state"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>


        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Country</span>
          <input type="text"
          placeholder="{{'United States'|translate}}"
          ng-model="formA.country"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Gender</span>
          <input type="text"
          placeholder="{{'Male/Female'|translate}}"
          ng-model="formA.gender"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Marital Status</span>
          <input type="text"
          placeholder="{{'Married/Single/Divorced'|translate}}"
          ng-model="formA.maritalStatus"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Aureus Central AURS Balance</span>
          <input type="number"
          placeholder="{{'3000 AURS'|translate}}"
          ng-model="formA.aursCentralBalance"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label> 

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Aureus CC AURS Balance</span>
          <input type="number"
          placeholder="{{'9382 AURS'|translate}}"
          ng-model="formA.aursCCBalance"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>  

        <div class="item item-divider"></div>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Aureus CC BTC Balance</span>
          <input type="number"
          placeholder="{{'1.38437 BTC'|translate}}"
          ng-model="formA.btcCCBalance"
          autocorrect="off" autocomplete="off"
          ng-required="true">
        </label>                       
      </div>
      <div class="list settings-list settings-input-group" ng-hide="showInfoOnly">
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Upload a verification photo</span>

          <br/><br/>
          <span class="input-label" translate>• Write the PIN code on a piece of paper and hold it along with your ID.</span>
          <span class="input-label" translate>• Then take a picture with your face, the PIN code, and your ID document clearly showing.</span>
          <span class="input-label"><img class="kyc-example" src="img/icon-kyc-example.png"/></span>
          <span class="input-label" translate>•Your information will be processed and cleared after you upload your photo.</span>     
          <span class="input-label">• YOUR PIN CODE IS <span class="pincode" ng-bind="formA.pincode"></span></span>
        </label>
      </div>

      <div class="form-group" ng-hide="showInfoOnly"> 
          <button ng-click="sendPhotoOnly()"
                 class="button button-standard button-primary">Open Camera</button>
          <br/><br/>   
      </div>

      <div class="form-group" ng-hide="showCameraOnly || !showInfoOnly"> 
          <button ng-click="sendInfoOnly()"
                 class="button button-standard button-primary">Update Info</button>
          <br/><br/>   
      </div>
  </ion-content>
</ion-view>
