<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Startup Lock' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="list">
      <a class="item item-icon-right" ng-repeat="opt in options" ng-click="select(opt.method)" ng-hide="opt.needsBackup || opt.disabled">
        <span ng-class="{'disabled': opt.needsBackup || opt.disabled}">{{opt.label}}</span>
        <i ng-show="opt.method == savedMethod" class="radio-icon disable-pointer-events icon ion-checkmark"></i>          
      </a>
    </div>
    <div class="assertive" style="text-align: center; margin: 4rem" ng-if="errorMsg">
      {{errorMsg}}
    </div>


  </ion-content>
</ion-view>
