<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>{{'Startup Lock' | translate}}</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-list>
      <ion-radio ng-repeat="opt in options" ng-model="savedMethod" ng-value="opt.method" ng-click="select(opt.method)" ng-disabled="opt.needsBackup || opt.disabled">
        <span ng-class="{'disabled': opt.needsBackup || opt.disabled}">{{opt.label}}</span>
      </ion-radio>
    </ion-list>
    <div class="assertive" style="text-align: center; margin: 4rem" ng-if="errorMsg">
      {{errorMsg}}
    </div>


  </ion-content>
</ion-view>
