<ion-view class="settings" show-tabs ng-controller="preferencesAltCurrencyController">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Alternative Currency'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <i  class="icon ion-ios-checkmark"></i>
    <i  class="icon ion-ios-checkmark"></i>
    <i  class="icon ion-ios-checkmark"></i>
    <i  class="icon ion-ios-checkmark"></i>
    <i  class="icon ion-ios-checkmark"></i>
    <i  class="icon ion-ios-checkmark"></i>
    <i  class="icon ion-ios-checkmark"></i>
    <div class="bar bar-header item-input-inset m20b">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search"
               ng-model="searchedAltCurrency"
               ng-change="findCurrency(searchedAltCurrency)"
               placeholder="{{'Search your currency' | translate}}">
      </label>
    </div>
    <div class="list" ng-if="lastUsedAltCurrencyList[0]">

      <a ng-repeat="lastUsedAltCurrency in lastUsedAltCurrencyList" class="item item-icon-right" ng-click="save(lastUsedAltCurrency)">
        {{lastUsedAltCurrency.name}}
        <i ng-show="lastUsedAltCurrency.isoCode == data.currentCurrency" class="icon ion-ios-checkmark"></i>
      </a>      
    </div>
    <div class="list">
      <a ng-repeat="altCurrency in altCurrencyList" class="item item-icon-right" ng-click="save(altCurrency)">
        {{altCurrency.name}}
        <i ng-show="altCurrency.isoCode == data.currentCurrency" class="icon ion-ios-checkmark"></i>
      </a>
    </div>
    <ion-infinite-scroll
      ng-if="!listComplete"
      on-infinite="loadMore()"
      distance="50%">
   </ion-infinite-scroll>
  </ion-content>
</ion-view>
