<ion-view class="settings" show-tabs>
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>
      {{'Unit'|translate}}
    </ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="list">
      <a class="item item-icon-right" ng-repeat="unit in unitList" ng-click="save(unit)">{{unit.shortName}}
        <i ng-show="unit.code == currentUnit" class="radio-icon disable-pointer-events icon ion-checkmark"></i>      
      </a>
    </div>
  </ion-content>
</ion-view>
